{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="heading-page header-text">
    <section class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-content">
              <h4>about us</h4>
              <h2>more about us!</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <!-- Banner Ends Here -->


  <section class="about-us">
    <div class="container">
        
      <div class="row">
        <div class="col-lg-12">
          <img src="assets/images/about-us.jpg" alt="">
          <p>Where are you going? It doesn't make any difference. It is your right to experience a high-quality, easy, and safe journey. our team as the number one travel ticket salesman, is by your side to create a worthy experience of a memorable trip.
            Travel should be easy, safe, and affordable, and all of this is summed up on out team. From anywhere to anywhere, by plane, train, bus or tour. You can even count on this site hotels for a worthy stay on foreign trips.
            
             and this professional experience is with you at every stage of your journey. From the time you plan to travel and need guidance, to buying tickets and 24/7 support by the 247-person support center team. Even when your itinerary changes and you want to refund your ticket, we are there for you.
            this blog is a brand of the proud Tosha Holding (Development of a Travel-Worthy Experience), a system that stands on the first platform of tourism in the country due to your support and support. We are not satisfied with this position and our efforts to improve will not stop for a moment. Of course, we are not alone in this winding path, and worthy fellow travelers like you are our main encouragement.
            Statistics show thatmore than 97% of customers have recommended us to others ambassadors. We are sure that we have gone the right way, because we are trusted by you.</p>
        </div>
      </div>

      
    </div>
  </section>
{% endblock %}